{% leaflet_map {"zoom" : 3 } %}

    {% for project in site.fieldwork %}
        {% if project.location.geojson %}
	    {% leaflet_geojson {{project.location.geojson}} %}
        {% elsif project.location.latitude and project.location.longitude %}
	{% capture project_title %} {{project.caption.title}} {% endcapture %}
	{% capture popup_html %} "<a class=fieldwork-link data-toggle=modal href='#c{{forloop.index}}'>{{project_title}}</a>" {% endcapture %}
            {% leaflet_marker { 
	    "latitude" : {{project.location.latitude}},
	    "longitude" : {{project.location.longitude}},
	    "popupContent" : {{popup_html}}
				} %}
					
        {% endif %}
    {% endfor %}

{% endleaflet_map %}
{% include modals.html %}
				<!--"popupContent" : "<a class='fieldwork-link' data-toggle='modal' href='#c3'>{{project.caption.title }}</a>" } %}-->
<!--<a class="fieldwork-link" data-toggle="modal" href="#c{{ forloop.index }}">
    {{ project.caption.title }}
	    "popupContent" : "<a class=fieldwork-link data-toggle=modal href=#c{{ forloop.index }}>{{project.capation.title}}</a>"
	    '<a class=fieldwork-link data-toggle=modal href=#c3>{{project.capation.title}}</a>' %}
</a>-->
